In [1]:
import pandas as pd
import numpy as np

In [8]:
dates = pd.date_range('20171006', periods=6)
df1 = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A','B','C','D'])
df1

             A   B   C   D
2017-10-06   0   1   2   3
2017-10-07   4   5   6   7
2017-10-08   8   9  10  11
2017-10-09  12  13  14  15
2017-10-10  16  17  18  19
2017-10-11  20  21  22  23

In [11]:
df1.A # 等价 df1['A']

2017-10-06     0
2017-10-07     4
2017-10-08     8
2017-10-09    12
2017-10-10    16
2017-10-11    20
Freq: D, Name: A, dtype: int64

In [13]:
df1[0:2] # 切片 通过 索引数字

            A  B  C  D
2017-10-06  0  1  2  3
2017-10-07  4  5  6  7

In [16]:
df1['2017-10-06':'2017-10-07'] # 切片 通过标签

            A  B  C  D
2017-10-06  0  1  2  3
2017-10-07  4  5  6  7

In [20]:
df1['20171006':'20171007']

            A  B  C  D
2017-10-06  0  1  2  3
2017-10-07  4  5  6  7

In [21]:
df1.loc['20171006'] # 切片 通过标签（行名），获取数据Series

A    0
B    1
C    2
D    3
Name: 2017-10-06 00:00:00, dtype: int64

In [23]:
df1.loc['20171006', ['A','D']] # 切片同时切行和列

A    0
D    3
Name: 2017-10-06 00:00:00, dtype: int64

In [26]:
df1
df1.iloc[2] # 通过位置（行序号）选择数据

A     8
B     9
C    10
D    11
Name: 2017-10-08 00:00:00, dtype: int64

In [29]:
df1.iloc[2:4, 1:3]

             B   C
2017-10-08   9  10
2017-10-09  13  14

In [34]:
df1.ix['20171006':'20171009', 2:4] # 混合标签和位置。但是单独的行切片或列切片内不能混合

             C   D
2017-10-06   2   3
2017-10-07   6   7
2017-10-08  10  11
2017-10-09  14  15

In [36]:
df1.A > 6 #判断

2017-10-06    False
2017-10-07    False
2017-10-08     True
2017-10-09     True
2017-10-10     True
2017-10-11     True
Freq: D, Name: A, dtype: bool

In [38]:
df1[df1.A > 6] # 通过条件判断选择数据

             A   B   C   D
2017-10-08   8   9  10  11
2017-10-09  12  13  14  15
2017-10-10  16  17  18  19
2017-10-11  20  21  22  23

In [41]:
df1['A'].sum()

60