In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = np.arange(20170101, 20170105)
df1 = pd.DataFrame(np.arange(12).reshape((4,3)), index=dates, columns=['A','B','C'])
df1

          A   B   C
20170101  0   1   2
20170102  3   4   5
20170103  6   7   8
20170104  9  10  11

In [4]:
df2 = pd.DataFrame(df1, index=dates, columns=['A','B','C','D','E'])
df2

          A   B   C   D   E
20170101  0   1   2 NaN NaN
20170102  3   4   5 NaN NaN
20170103  6   7   8 NaN NaN
20170104  9  10  11 NaN NaN

In [6]:
s1 = pd.Series([3,4,6], index=dates[:3])
s2 = pd.Series([32,5,2], index=dates[1:])
df2['D'] = s1
df2['E'] = s2
df2

          A   B   C    D     E
20170101  0   1   2  3.0   NaN
20170102  3   4   5  4.0  32.0
20170103  6   7   8  6.0   5.0
20170104  9  10  11  NaN   2.0

In [10]:
df2.dropna(axis=0, how='any') #axis=0行 1列；how in 'any' 'all' 'any'任意一个是na就去除 'all'全部是na才去除
#df3

          A  B  C    D     E
20170102  3  4  5  4.0  32.0
20170103  6  7  8  6.0   5.0

In [11]:
df2.fillna(value=0) # 个na赋值

          A   B   C    D     E
20170101  0   1   2  3.0   0.0
20170102  3   4   5  4.0  32.0
20170103  6   7   8  6.0   5.0
20170104  9  10  11  0.0   2.0

In [12]:
df2.isnull() # 判断哪些是na 空值

              A      B      C      D      E
20170101  False  False  False  False   True
20170102  False  False  False  False  False
20170103  False  False  False  False  False
20170104  False  False  False   True  False

In [13]:
np.any(df2.isnull())

True

In [14]:
np.all(df2.isnull())

False