In [1]:
import pandas as pd
import numpy as np

In [6]:
file = pd.read_csv('people.csv', encoding='utf-8')
file

   地点  名字      职位     工资 在职情况
0  北京  小红  渠道合作经理  15000   在职
1  北京  小明    行政专员   8000   离职
2  北京  小白    行政专员   9000   在职
3  上海  小绿    商户经理  12000   在职
4  上海  小黄    商户经理  10000   离职
5  上海  小黑     团队长  12000   在职
6  广州  小紫  渠道合作主管  20000   在职
7  广州  小粉  渠道合作主管  20000   在职
8  广州  小青      经理  10000   离职
9  广州  小蓝     团队长  13000   在职

In [9]:
file.iloc[2,0] = '深圳'
file

   地点  名字      职位     工资 在职情况
0  北京  小红  渠道合作经理  15000   在职
1  北京  小明    行政专员   8000   离职
2  深圳  小白    行政专员   9000   在职
3  上海  小绿    商户经理  12000   在职
4  上海  小黄    商户经理  10000   离职
5  上海  小黑     团队长  12000   在职
6  广州  小紫  渠道合作主管  20000   在职
7  广州  小粉  渠道合作主管  20000   在职
8  广州  小青      经理  10000   离职
9  广州  小蓝     团队长  13000   在职

In [12]:
file.to_csv('people2.csv', encoding='utf-8')

In [ ]:
file.to_json('people.json', force_ascii=False)