In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)), columns=['a','b','c','d'])
df2 = pd.DataFrame(np.arange(12,24).reshape((3,4)), columns=['a','b','c','d'])
df3 = pd.DataFrame(np.arange(24,36).reshape((3,4)), columns=['a','b','c','d'])
print(df1)
print(df2)
print(df3)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   b   c   d
0  12  13  14  15
1  16  17  18  19
2  20  21  22  23
    a   b   c   d
0  24  25  26  27
1  28  29  30  31
2  32  33  34  35

In [4]:
df4 = pd.concat([df1, df2, df3], axis=0) # 0 纵向合并 1 横向合并
df4

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
0  12  13  14  15
1  16  17  18  19
2  20  21  22  23
0  24  25  26  27
1  28  29  30  31
2  32  33  34  35

In [6]:
df4 = pd.concat([df1, df2, df3], axis=0, ignore_index=True) #纵向合并，不考虑原来的index
df4

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23
6  24  25  26  27
7  28  29  30  31
8  32  33  34  35

In [9]:
df5 = pd.concat([df1, df2, df3], axis=1)
df5

   a  b   c   d   a   b   c   d   a   b   c   d
0  0  1   2   3  12  13  14  15  24  25  26  27
1  4  5   6   7  16  17  18  19  28  29  30  31
2  8  9  10  11  20  21  22  23  32  33  34  35

In [10]:
df5 = pd.concat([df1, df2, df3], axis=1, ignore_index=True)
df5

   0   1   2   3   4   5   6   7   8   9   10  11
0   0   1   2   3  12  13  14  15  24  25  26  27
1   4   5   6   7  16  17  18  19  28  29  30  31
2   8   9  10  11  20  21  22  23  32  33  34  35

In [11]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)), columns=['a','b','c','f'])
df2 = pd.DataFrame(np.arange(12,24).reshape((3,4)), columns=['a','c','d','e'])
print(df1)
print(df2)

   a  b   c   f
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   c   d   e
0  12  13  14  15
1  16  17  18  19
2  20  21  22  23

In [12]:
df6 = pd.concat([df1, df2], join='outer', ignore_index=True)# 合并两个表，缺少的部分填充NaN
df6

    a    b   c     d     e     f
0   0  1.0   2   NaN   NaN   3.0
1   4  5.0   6   NaN   NaN   7.0
2   8  9.0  10   NaN   NaN  11.0
3  12  NaN  13  14.0  15.0   NaN
4  16  NaN  17  18.0  19.0   NaN
5  20  NaN  21  22.0  23.0   NaN

In [13]:
df7 = pd.concat([df1,df2], join='inner', ignore_index=True)#合并两个表，缺少的部分去掉
df7

    a   c
0   0   2
1   4   6
2   8  10
3  12  13
4  16  17
5  20  21

In [14]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)), columns=['a','b','c','f'])
df2 = pd.DataFrame(np.arange(12,24).reshape((4,3)), columns=['a','c','d'])
print(df1)
print(df2)

   a  b   c   f
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
    a   c   d
0  12  13  14
1  15  16  17
2  18  19  20
3  21  22  23

In [16]:
df8 = pd.concat([df1,df2], axis=1,join_axes=[df1.index]) # 横向合并，考虑df1的index：0、1、2
df8

   a  b   c   f   a   c   d
0  0  1   2   3  12  13  14
1  4  5   6   7  15  16  17
2  8  9  10  11  18  19  20

In [17]:
df8 = pd.concat([df1,df2], axis=1 ) # 横向合并，缺少填充NaN
df8

     a    b     c     f   a   c   d
0  0.0  1.0   2.0   3.0  12  13  14
1  4.0  5.0   6.0   7.0  15  16  17
2  8.0  9.0  10.0  11.0  18  19  20
3  NaN  NaN   NaN   NaN  21  22  23